@{
    ViewData["Title"] = "Giới thiệu";
}

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Giới thiệu</h4>
                    <div class="breadcrumb__links">
                        <a asp-controller="Home" asp-action="Index">Trang chủ</a>
                        <span>Giới thiệu</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- About Section Begin -->
<section class="about spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about__pic">
                    <img src="img/about/about-us.jpg" alt="About Us">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="about__item">
                    <h4>Chúng tôi là ai?</h4>
                    <p>
                        Các chương trình quảng cáo theo ngữ cảnh đôi khi có các chính sách nghiêm ngặt cần tuân thủ.
                        Hãy lấy Google làm ví dụ.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="about__item">
                    <h4>Chúng tôi làm gì?</h4>
                    <p>
                        Trong thế hệ số hóa này, nơi thông tin có thể dễ dàng thu thập trong vài giây, danh thiếp vẫn giữ được tầm quan trọng của mình.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="about__item">
                    <h4>Tại sao chọn chúng tôi?</h4>
                    <p>
                        Ngôi nhà hai hoặc ba tầng là cách lý tưởng để tối đa hóa mảnh đất mà ngôi nhà của chúng tôi tọa lạc, nhưng đối với người già hoặc người yếu.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section End -->
<!-- Testimonial Section Begin -->
<section class="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="testimonial__text">
                    <span class="icon_quotations"></span>
                    <p>
                        “Đi chơi sau giờ làm? Mang theo bàn là uốn tóc butane đến văn phòng, làm nóng nó,
                        tạo kiểu tóc trước khi rời văn phòng và bạn sẽ không phải quay về nhà.”
                    </p>
                    <div class="testimonial__author">
                        <div class="testimonial__author__pic">
                            <img src="img/about/testimonial-author.jpg" alt="Author">
                        </div>
                        <div class="testimonial__author__text">
                            <h5>Augusta Schultz</h5>
                            <p>Nhà thiết kế thời trang</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="testimonial__pic">
                    <img src="img/about/testimonial-pic.jpg" alt="Testimonial">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial Section End -->
<!-- Counter Section Begin -->
<section class="counter spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter__item">
                    <div class="counter__item__number">
                        <h2 class="count">102</h2>
                    </div>
                    <span>Khách hàng<br />của chúng tôi</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter__item">
                    <div class="counter__item__number">
                        <h2 class="count">30</h2>
                    </div>
                    <span>Tổng số<br />danh mục</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter__item">
                    <div class="counter__item__number">
                        <h2 class="count">102</h2>
                    </div>
                    <span>Tại<br />quốc gia</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter__item">
                    <div class="counter__item__number">
                        <h2 class="count">98</h2>
                        <span>%</span>
                    </div>
                    <span>Khách hàng<br />hài lòng</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Counter Section End -->
<!-- Team Section Begin -->
<section class="team spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Đội ngũ</span>
                    <h2>Gặp gỡ đội ngũ của chúng tôi</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team__item">
                    <img src="img/about/team-1.jpg" alt="John Smith">
                    <h4>John Smith</h4>
                    <span>Nhà thiết kế thời trang</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team__item">
                    <img src="img/about/team-2.jpg" alt="Christine Wise">
                    <h4>Christine Wise</h4>
                    <span>C.E.O</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team__item">
                    <img src="img/about/team-3.jpg" alt="Sean Robbins">
                    <h4>Sean Robbins</h4>
                    <span>Quản lý</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team__item">
                    <img src="img/about/team-4.jpg" alt="Lucy Myers">
                    <h4>Lucy Myers</h4>
                    <span>Giao hàng</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Team Section End -->
<!-- Partner Section Begin -->
<section class="partner spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Đối tác</span>
                    <h2>Khách hàng hài lòng</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6">
                <a href="#" class="partner__logo">
                    <img src="img/partner/partner-1.png" alt="Partner 1">
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <a href="#" class="partner__logo">
                    <img src="img/partner/partner-2.png" alt="Partner 2">
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <a href="#" class="partner__logo">
                    <img src="img/partner/partner-3.png" alt="Partner 3">
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <a href="#" class="partner__logo">
                    <img src="img/partner/partner-4.png" alt="Partner 4">
                </a>
            </div>
        </div>
    </div>
</section>
<!-- Partner Section End -->
